files:
    "/tmp/setMaxBodySize.sh" :
        mode: "000755"
        owner: root
        group: root
        content: |
           #! /bin/bash
           if [[ -z "${CLIENT_MAX_BODY_SIZE}" ]]; then
             MAX_BODY_SIZE="100M"
           else
             MAX_BODY_SIZE="${CLIENT_MAX_BODY_SIZE}"
           fi
           echo "$MAX_BODY_SIZE" > "/etc/nginx/conf.d/proxy.conf"

container_commands:
  00_appdeploy_setmaxbodysize:
    command: cp -v /tmp/setMaxBodySize.sh /opt/elasticbeanstalk/hooks/appdeploy/enact && sh /opt/elasticbeanstalk/hooks/appdeploy/enact/setMaxBodySize.sh
